/* font-family: "ClearSansRegular"; */
@font-face {
	font-family: "ClearSansRegular";
	src: url("../fonts/ClearSansRegular.eot");
	src: url("../fonts/ClearSansRegular.eot#iefix")format("embedded-opentype"),
	url("../fonts/ClearSansRegular.woff") format("woff"),
	url("../fonts/ClearSansRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "ClearSansBold"; */
@font-face {
	font-family: "ClearSansBold";
	src: url("../fonts/ClearSansBold.eot");
	src: url("../fonts/ClearSansBold.eot#iefix")format("embedded-opentype"),
	url("../fonts/ClearSansBold.woff") format("woff"),
	url("../fonts/ClearSansBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "ClearSansItalic"; */
@font-face {
	font-family: "ClearSansItalic";
	src: url("../fonts/ClearSansItalic.eot");
	src: url("../fonts/ClearSansItalic.eot#iefix")format("embedded-opentype"),
	url("../fonts/ClearSansItalic.woff") format("woff"),
	url("../fonts/ClearSansItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "ClearSansLight"; */
@font-face {
	font-family: "ClearSansLight";
	src: url("../fonts/ClearSansLight.eot");
	src: url("../fonts/ClearSansLight.eot#iefix")format("embedded-opentype"),
	url("../fonts/ClearSansLight.woff") format("woff"),
	url("../fonts/ClearSansLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "ClearSansMedium"; */
@font-face {
	font-family: "ClearSansMedium";
	src: url("../fonts/ClearSansMedium.eot");
	src: url("../fonts/ClearSansMedium.eot#iefix")format("embedded-opentype"),
	url("../fonts/ClearSansMedium.woff") format("woff"),
	url("../fonts/ClearSansMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "ClearSansBoldItalic"; */
@font-face {
	font-family: "ClearSansBoldItalic";
	src: url("../fonts/ClearSansBoldItalic.eot");
	src: url("../fonts/ClearSansBoldItalic.eot#iefix")format("embedded-opentype"),
	url("../fonts/ClearSansBoldItalic.woff") format("woff"),
	url("../fonts/ClearSansBoldItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "ClearSansMediumItalic"; */
@font-face {
	font-family: "ClearSansMediumItalic";
	src: url("../fonts/ClearSansMediumItalic.eot");
	src: url("../fonts/ClearSansMediumItalic.eot#iefix")format("embedded-opentype"),
	url("../fonts/ClearSansMediumItalic.woff") format("woff"),
	url("../fonts/ClearSansMediumItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "ClearSansThin"; */
@font-face {
	font-family: "ClearSansThin";
	src: url("../fonts/ClearSansThin.eot");
	src: url("../fonts/ClearSansThin.eot#iefix")format("embedded-opentype"),
	url("../fonts/ClearSansThin.woff") format("woff"),
	url("../fonts/ClearSansThin.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "GoodVibes"; */
@font-face {
	font-family: "GoodVibes";
	src: url("../fonts/GoodVibesCyr.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "Inspiration"; */
@font-face {
	font-family: "Inspiration";
	src: url("../fonts/Inspiration.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "Inspiration"; */
@font-face {
	font-family: "Pompadur";
	src: url("../fonts/Pompadur.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "Gilroy-Light"; */
@font-face {
	font-family: "GilroyLight";
	src: url("../fonts/GilroyLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "GilroyExtraBold"; */
@font-face {
	font-family: "GilroyExtraBold";
	src: url("../fonts/GilroyExtraBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "NefelibataScript"; */
@font-face {
	font-family: "NefelibataScript";
	src: url("../fonts/NefelibataScript.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "NefelibataBrushCanvas"; */
@font-face {
	font-family: "NefelibataBrushCanvas";
	src: url("../fonts/NefelibataBrushCanvas.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "Cera"; */
@font-face {
	font-family: "Cera";
	src: url("../fonts/CeraCY.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "CeraB"; */
@font-face {
	font-family: "CeraB";
	src: url("../fonts/CeraCY-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	padding: 0;
	margin: 0;
}
ul {
	padding: 0;
	margin: 0;
}

body {
	background: #FFF;
	width: 100%;
	min-width: 300px;
}

html {
}
body .row {
	padding: 0;
	margin: 0;
}
.wrapper-full {
	position: relative;
	width: 100%;
	-ms-overflow-x: hidden;
	    overflow-x: hidden;
}

.header-wrp {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 1130px;
	background: url(../images/header-wrp-bg.jpg) no-repeat top center;
	background-attachment:fixed;
}

.header-wrp .menu-wrp {
	position: relative;
	display: flex;
	width: 100%;
	height: 122px;
}

.header-wrp .menu-wrp .menu {
	width: 100%;
}

.header-wrp .menu-wrp .logo {
	position: relative;
	display: flex;
	width: 27rem;
	margin-left: 1rem;
	height: 12.2rem;
	background: url(../images/logo.png) no-repeat left center;
	background-size: 13rem 6.6rem;
	background-position: 0 0;
	
	flex-shrink: 0;
}

@media (min-width:700px) {
	.header-wrp .menu-wrp .logo {
		width: 40rem;
		height: 12.2rem;
		background-size: 20rem 10rem;
	}
}

.header-wrp .menu-wrp .logo .names {
    position: absolute;
    display: block;
	font-family: Cera;	
	color: #FFF;
	text-transform: uppercase;

	width: 20rem;
	top: 2.2rem;
	left: 5rem;
	font-size: 2.5rem;
}

@media (min-width:700px) {
	.header-wrp .menu-wrp .logo .names  {
		width: 25rem;
		top: 2.2rem;
		left: 10rem;
		font-size: 4rem;
	}
}

.header-wrp .menu-wrp .links {
	visibility: hidden;
}

@media (min-width: 70rem) {
	.header-wrp .menu-wrp .links {
		visibility: visible;
		align-self: center;
	}
}

@media (hover: none) {
	.mouse-visual{
		display: none;
	}
}

.header-wrp .menu-wrp ul.menu {
    color: #fff;
	font-family: Cera;	
	font-size: 2rem;
	list-style-type: none;
}
.header-wrp .menu-wrp ul.menu li a {
	color: #FFF;
}
.header-wrp .menu-wrp ul.menu li {
	position: relative;
	margin-right: 35px;
	float: left;
}
.header-wrp .menu-wrp ul.menu li:after {
	position: absolute;
	display: inline-block;
	margin-left: 15px;
	content:"/";
}
.header-wrp .menu-wrp ul.menu li:last-child:after {
	content:"";
}
.header-wrp .menu-wrp ul.menu li:last-child {
	margin-right: 0;
}
.header-wrp .title-wrp {
	position: relative;
	margin: 0 auto;
	background: url(../images/title-border.png) no-repeat left center;

	padding-top: 3.5rem;
	padding-left: 3rem;
	height: 20rem;
	top: 10rem;
	line-height: 7rem;
	background-size: 10rem 20rem;
}

.header-wrp .title-wrp .title {
	font-family: CeraB;
	color: #FFF;
	text-transform: uppercase;

	font-size: 3rem;
}

.header-wrp .title-wrp .date {
	font-family: Cera;
	color: #FFF;

	font-size: 2.5rem;
}

@media (min-width:500px) {
	.header-wrp .title-wrp .title {
		font-size: 5rem;
	}

	.header-wrp .title-wrp .date {
		font-size: 3rem;
	}

	.header-wrp .title-wrp {
		padding-top: 3.5rem;
		padding-left: 6.9rem;
		height: 20rem;
		top: 10rem;
		line-height: 7rem;
		background-size: 10rem 20rem;
	}
}

@media (min-width:760px) {
	.header-wrp .title-wrp .title {
		font-size: 8.6rem;
	}

	.header-wrp .title-wrp .date {
		font-size: 6.2rem;
	}

	.header-wrp .title-wrp {
		padding-top: 6.3rem;
		padding-left: 6.9rem;
		height: 26.7rem;
		top: 21.3rem;
		line-height: 7rem;
	}
}

.face-programm-wrp {
    padding-bottom: 170px;
	margin-top: -211px;
	min-height: 1962px;
	background: url(../images/faceprogramm-bg.png) no-repeat top center;
}
.face-programm-wrp .face-programm {
	position: relative;
	display: flex;
	flex-direction: column;
}
.face-programm-wrp .face-programm .faces-wrp {
	min-height: 725px;
	background: #FFF;
	z-index: 2;
}

@media (min-width: 1000px) {
	.face-programm-wrp .face-programm .faces-wrp {
		width: 1000px;
		margin: 0 auto;
	}
}

.face-programm-wrp .face-programm .faces {
	display: flex;
	justify-content: space-around;

	padding-top: 5.8rem;
}

.face-programm-wrp .face-programm .faces .person {
	display: flex;
	flex-direction: column;
	flex: 1 1 0px
}

.face-programm-wrp .face-programm .faces .photo {
	position: relative;
	display: block;
	margin: 0 auto;
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
	        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
	-webkit-border-radius: 250px;
	        border-radius: 250px;

	width: 12.5rem;
	height: 12.5rem;
}

.face-programm-wrp .face-programm .faces .name {
	font-family: CeraB;
	color: #B8DA9D;
	text-align: center;

	font-size: 3.5rem;
}

@media (min-width: 500px) {
	.face-programm-wrp .face-programm .faces .photo {
		width: 18.5rem;
		height: 18.5rem;
	}

	.face-programm-wrp .face-programm .faces .name {
		font-size: 5rem;
	}
	.face-programm-wrp .face-programm .faces {
		padding-top: 9.8rem;
	}
}


.face-programm-wrp .face-programm .faces .role {
	font-family: Cera;
	font-size: 22px;
	color: #4A4737;
	text-align: center;
	text-transform: lowercase;
}
.face-programm-wrp .face-programm .faces .info {
	position: relative;
	margin: 3rem 2rem 0 2rem;
	font-family: Cera;
	font-size: 1.6rem;
	color: #4A4737;
	text-align: center;
}
.face-programm-wrp .face-programm .programm-wrp {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-top: 31rem;
}

.face-programm-wrp .face-programm .programm {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #FFF;
	z-index: 2;
}

.face-programm-wrp .face-programm .programm-wrp .programm > .title {
	position: relative;
	margin-bottom: 5rem;
	font-family: CeraB;
	font-size: 5rem;
	color: #8da884;
	text-transform: uppercase;
	text-align: center;
}
.face-programm-wrp .face-programm .programm-wrp .programm > .title:before {
	position: absolute;
    display: block;
    width: 5000px;
    height: 1px;
    background: #8da884;
    content: "";
    right: 35rem;
    top: 3.5rem;
}

.face-programm-wrp .face-programm .programm-wrp .programm .rows-wrp {
	background: #FFF;	
}

.face-programm-wrp .face-programm .programm-wrp .programm .rows .row {
	min-height: 147px;
    padding-bottom: 10px;
	display: flex;
}
.face-programm-wrp .face-programm .programm-wrp .programm .rows .row .info .title {
	position: relative;
	display: block;
	font-family: Cera;
	font-size: 16px;
	color: #333;
}

@media (min-width: 800px) {
	.face-programm-wrp .face-programm .programm-wrp .programm .rows .row .info .title {
		font-size: 29px;
	}
}

.face-programm-wrp .face-programm .programm-wrp .programm .rows .row > div {
	float: left;
}
.face-programm-wrp .face-programm .programm-wrp .programm .rows .row .date-wrp {
	width: 115px;
	line-height: 29px;
	text-align: right;
	flex-shrink: 0;
}
.face-programm-wrp .face-programm .programm-wrp .programm .rows .row .date-wrp .date {
	font-family: Cera;
	font-size: 16px;
	color: #7C7C7C;
}
.face-programm-wrp .face-programm .programm-wrp .programm .rows .row:nth-child(4n+1) .date-wrp .time {
	color: #385723;
}
.face-programm-wrp .face-programm .programm-wrp .programm .rows .row:nth-child(4n+2) .date-wrp .time {
	color: #566e4e;
}
.face-programm-wrp .face-programm .programm-wrp .programm .rows .row:nth-child(4n+3) .date-wrp .time {
	color: #8da884;
}
.face-programm-wrp .face-programm .programm-wrp .programm .rows .row:nth-child(4n+4) .date-wrp .time {
	color: #ACBD86;
}
.face-programm-wrp .face-programm .programm-wrp .programm .rows .row .date-wrp .time {
	font-family: Cera;
	font-size: 29px;
	color: #db3b5d;
	line-height: 20px;
}
.face-programm-wrp .face-programm .programm-wrp .programm .rows .row .dot {
	position: relative;
	display: block;
	flex-shrink: 0;
	width: 130px;
	height: 1px;
}
.face-programm-wrp .face-programm .programm-wrp .programm .rows .row:nth-child(4n+1) .dot .dot-one {
	background: #385723;
}
.face-programm-wrp .face-programm .programm-wrp .programm .rows .row:nth-child(4n+2) .dot .dot-one {
	background: #566e4e;
}
.face-programm-wrp .face-programm .programm-wrp .programm .rows .row:nth-child(4n+3) .dot .dot-one {
	background: #8da884;
}
.face-programm-wrp .face-programm .programm-wrp .programm .rows .row:nth-child(4n+4) .dot .dot-one {
	background: #ACBD86;
}
.face-programm-wrp .face-programm .programm-wrp .programm .rows .row .dot .dot-one {
	position: relative;
	display: block;
	width: 40px;
	height: 40px;
	margin: 13px auto 0;
	-webkit-border-radius: 80px;
	        border-radius: 80px;
	background: #f0475f;
}
.face-programm-wrp .face-programm .programm-wrp .programm .rows .row .dot .dot-one:before {
    position: absolute;
    display: block;
    width: 2px;
    height: 35px;
    background: #e4e4e4;
    content: "";
    bottom: 40px;
    margin-left: 50%;
    left: -1px;
}
.face-programm-wrp .face-programm .programm-wrp .programm .rows .row:first-child .dot .dot-one:before {
	content: none;
}
.face-programm-wrp .face-programm .programm-wrp .programm .rows .row .dot .dot-one:after {
    position: absolute;
    display: block;
    width: 2px;
    height: 110px;
    background: #e4e4e4;
    content: "";
    top: 40px;
    margin-left: 50%;
    left: -1px;
}
.face-programm-wrp .face-programm .programm-wrp .programm .rows .row:last-child .dot .dot-one:after {
	content: none;
}

.face-programm-wrp .face-programm .programm-wrp .programm .rows .row .info .info-add {
	font-family: Cera;
	font-size: 16px;
	color: #333;
	line-height: 30px;
}
.face-programm-wrp .face-programm .programm-wrp .programm .rows .row:nth-child(4n+1) .info a {
	color: #385723;
}
.face-programm-wrp .face-programm .programm-wrp .programm .rows .row:nth-child(4n+2) .info a {
	color: #566e4e;
}
.face-programm-wrp .face-programm .programm-wrp .programm .rows .row:nth-child(4n+3) .info a {
	color: #8da884;
}
.face-programm-wrp .face-programm .programm-wrp .programm .rows .row:nth-child(4n+4) .info a {
	color: #ACBD86;
}
.face-programm-wrp .face-programm .programm-wrp .programm .rows .row .info a {
	color: #ACBD86;
}

.inviting-wrp {
	position: relative;
	display: flex;
	flex-direction: column;
	padding-bottom: 10rem;
	background: url(../images/inviting-bg.png) no-repeat top center;
}
.inviting-wrp .inviting {
	position: relative;
	display: flex;
}
.inviting-wrp .inviting .letter-wrp {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	background: #FFF;
	-webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
	        box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
		/* temporary */
		border: #385723 1px solid; 
}

.inviting-wrp .inviting .letter-wrp .letter {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 3rem 3rem 0 3rem;
}
.inviting-wrp .inviting .letter-wrp .title {
	font-family: CeraB;
	font-size: 38px;
	color: #B8DA9D;
	line-height: 45px;
	text-align: center;
}
.inviting-wrp .inviting .letter-wrp .inv-text {
	position: relative;
	margin-top: 2rem;
	width: 90%;
	font-family: GilroyLight;
	font-size: 19px;
	color: #333;
	line-height: 23px;
	text-align: center;
}
.inviting-wrp .inviting .letter-wrp .inv-text p {
	margin-bottom: 29px;
}
.inviting-wrp .inviting .letter-wrp .dots {
	position: relative;
	display: flex;
	width: 90%;
	margin: 2rem auto;
	justify-content: space-between;
	/* padding: 2rem 0; */
}
.inviting-wrp .inviting .letter-wrp .dots .dot {
	height: 6.5rem;
	width: 6.5rem;
	border-radius: 50%;
	display: inline-block;
 }
 
 
.inviting-wrp .inviting .letter-wrp .dots .dot1 {
	background-color: #385723
}

.inviting-wrp .inviting .letter-wrp .dots .dot2 {
	background-color: #566e4e
}
.inviting-wrp .inviting .letter-wrp .dots .dot3 {
	background-color: #8da884
}
.inviting-wrp .inviting .letter-wrp .dots .dot4 {
	background-color: #ffffff;
	border-style: solid;
}

.inviting-wrp .inviting .letter-wrp .dots .dot5 {
	background-color: #d3b99c
}

.inviting-wrp .inviting > .title {
	visibility: hidden;
	width: 0;
	height: 0;
}

@media (min-width: 700px) {
	.inviting-wrp .inviting .letter-wrp {
		background: url(../images/marker.png) no-repeat 21px 0px #FFF;
	}
	.inviting-wrp .inviting .letter-wrp {
		width: 65rem;
	}

	.inviting-wrp .inviting .letter-wrp .letter {
		padding-left: 108px;
		padding-top: 82px;

		align-items: flex-start;

		margin: 0 2rem 0 0;
	}

	.inviting-wrp .inviting .letter-wrp .title {
		text-align: start;
	}

	.inviting-wrp .inviting .letter-wrp .letter .inv-text {
		text-align: start;
	}

	.inviting-wrp .inviting > .title {
		position: absolute;
		display: block;
		right: -10rem;
		top: 525px;
		font-family: CeraB;
		font-size: 6rem;
		color: #FFF;
		text-transform: uppercase;
		transform: rotate(90deg);
		visibility: visible;
		width: auto;
		height: auto;
	}
}

.inviting-wrp .inviting > .title:after {
	position: absolute;
    display: block;
    width: 40rem;
    height: 1px;
    content: "";
	background: linear-gradient(to right,  rgba(255, 255, 255, 1) , rgba(255, 255, 255, 0));
    top: 45px;
    left: 478px;
}
.inviting-wrp .questioning-wrp .questioning .row.submit {
	margin-top: 50px;
}
.inviting-wrp .questioning-wrp .questioning .row.submit .col-left input {
	position: relative;
	display: block;
	width: 242px;
	height: 50px;
	float: right;
	margin-right: 50px;
	border: none;
	font-family: GilroyLight;
	font-size: 18px;
	font-weight: normal;
	border-bottom: 2px solid #b8b8b8;
	padding-left: 10px;
	background-color: transparent;
}
.inviting-wrp .questioning-wrp .questioning .row.submit .col-right input {
	position: relative;
	display: block;
	width: 242px;
	height: 50px;
	float: left;
	margin-left: 50px;
	border: none;
	border: 1px solid #b8b8b8;
	font-family: GilroyLight;
	font-size: 18px;
	background-color: transparent;
	-webkit-transition: all 0.5s ease 0s;
	   -moz-transition: all 0.5s ease 0s;
	    -ms-transition: all 0.5s ease 0s;
	     -o-transition: all 0.5s ease 0s;
	        transition: all 0.5s ease 0s;
}
.inviting-wrp .questioning-wrp .questioning .row.submit .col-right input:hover {
	border: 0px;
	background: rgba(246,160,102,1);
	background: -moz-linear-gradient(-45deg, rgba(246,160,102,1) 0%, rgba(254,83,111,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(246,160,102,1)), color-stop(100%, rgba(254,83,111,1)));
	background: -webkit-linear-gradient(-45deg, rgba(246,160,102,1) 0%, rgba(254,83,111,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(246,160,102,1) 0%, rgba(254,83,111,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(246,160,102,1) 0%, rgba(254,83,111,1) 100%);
	background: linear-gradient(135deg, rgba(246,160,102,1) 0%, rgba(254,83,111,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6a066', endColorstr='#fe536f', GradientType=1 );
	color: #fff;
}
.photogallery-wrp {
	margin-bottom: 5rem;
}
.photogallery-wrp .photogallery .title {
    position: relative;
    margin-bottom: 67px;
    font-family: CeraB;
    font-size: 48px;
    color: #8da884;
    text-transform: uppercase;
    text-align: left;
}
.photogallery-wrp .photogallery .title:after {
   position: absolute;
   display: block;
   width: 5000px;
   height: 1px;
   background: #8da884;
   content: "";
   left: 371px;
   top: 37px;
}
.photogallery-wrp .photogallery .slider-buttons {
	position: relative;
	display: block;
	width: 40rem;
	z-index: 10;
	margin: 0 auto;
}
.photogallery-wrp .photogallery .slider-buttons .prev {
	position: absolute;
    display: block;
    width: 6rem;
    height: 19.6rem;
    background: url(../images/slider-buttons.png) no-repeat 0 0;
    left: -6rem;
    top: 4.5rem;
    cursor: pointer;
    opacity: 0.7;
    -webkit-transition: all 0.5s ease 0s;
       -moz-transition: all 0.5s ease 0s;
        -ms-transition: all 0.5s ease 0s;
         -o-transition: all 0.5s ease 0s;
            transition: all 0.5s ease 0s;
}
.photogallery-wrp .photogallery .slider-buttons .prev:hover {
	opacity: 1;
}
.photogallery-wrp .photogallery .slider-buttons .next {
    position: absolute;
    display: block;
    width: 6rem;
    height: 196px;
    background: url(../images/slider-buttons.png) no-repeat -8.9rem 0;
    right: -6rem;
    top: 4.5rem;
    cursor: pointer;
    opacity: 0.7;
    -webkit-transition: all 0.5s ease 0s;
       -moz-transition: all 0.5s ease 0s;
        -ms-transition: all 0.5s ease 0s;
         -o-transition: all 0.5s ease 0s;
            transition: all 0.5s ease 0s;
}
.photogallery-wrp .photogallery .slider-buttons .next:hover {
	opacity: 1;
}

.photogallery-wrp .photogallery .my-flipster {
    padding-top: 10px;
}
.photogallery-wrp .photogallery .photo {
	width: 40rem;
} 

@media (min-width: 700px) {
	.photogallery-wrp .photogallery .photo {
		width: 60rem;
	} 
	.photogallery-wrp .photogallery .slider-buttons {
		width: 60rem
	}
	.photogallery-wrp .photogallery .slider-buttons .prev {
		top: 13rem;
	}
	.photogallery-wrp .photogallery .slider-buttons .next {
		top: 13rem;
	}
}

@media (min-width: 1200px) {
	.photogallery-wrp .photogallery .slider-buttons {
		width: 110rem;
	}
	.photogallery-wrp .photogallery .photo {
		width: 110rem;
	} 
	.photogallery-wrp .photogallery .slider-buttons {
		width: 110rem;
		top: 13rem;
	}
}

.flipster__item--current .flipster__item__content {
	-webkit-box-shadow: 1px 2px 15px 0 rgba(0,0,0,0.3);
	        box-shadow: 1px 2px 15px 0 rgba(0,0,0,0.3);
}
.map-wrp {
	position: relative;
	display: block;
	min-height: 1000px;
	margin-top: 0px;
	padding-top: 10rem;
	background: url(../images/map-bg.png) no-repeat top center;
	overflow: hidden;
}
.map-wrp .map {
	position: relative;
	z-index: 2;
}
.map-wrp .map .title {
    position: relative;
    margin-bottom: 67px;
    font-family: CeraB;
    font-size: 48px;
    color: #8da884;
    text-transform: uppercase;
    text-align: left;
}
.map-wrp .map .title:after {
    position: absolute;
    display: block;
    width: 5000px;
    height: 1px;
    background: #8da884;
    content: "";
    left: 417px;
    top: 37px;
}
.map-wrp .map #map {
	position: relative;
	display: block;
	width: 400px;
	height: 390px;
	margin: 0 auto 25px;
	-webkit-box-shadow: 1px 2px 15px 0 rgba(0,0,0,0.3);
    box-shadow: 1px 2px 15px 0 rgba(0,0,0,0.3);
	z-index: 2;
}
.map-wrp .map .info {
	font-family: Cera;
	font-size: 32px;
	color: #333;
	text-align: center;
	background: #FFF;
    padding: 10px 10px;
	-webkit-box-shadow: 1px 2px 15px 0 rgba(0,0,0,0.3);
    box-shadow: 1px 2px 15px 0 rgba(0,0,0,0.3);
    z-index: 3;
}
.map-wrp .dev-logo {
	position: relative;
	display: block;
	text-align: center;
    margin-top: 200px;
}

@media (min-width: 700px) {
	.map-wrp .map #map {
		width: 65rem;
	}
}

@media (min-width: 1100px) {
	.map-wrp .map #map {
		width: 100rem;
	}
}


.questionnaire-holder {
	font-family: GilroyLight;
	width: 100%;
	display: flex;
	flex-flow: column;
	margin: 0 auto;
}

.comming-intention {
	display: flex;
	margin: 20px auto;
	justify-content: space-around; 
}

.submit-questionnarie {
	all: unset;


	display: flex;
	justify-content: center;

	cursor: pointer;
}

.submit-questionnarie input,
.comming-intention-option {
	width: 15rem;
	margin: 0.5rem;
	font-size: 2rem;
	line-height: 2.6rem;
	min-height: 6rem;

	display: flex;
	align-items: center;
	justify-content: center;

	font-weight: normal;
	color: #1F1F1F;
	text-align: center;
	border: 1px solid #b8b8b8;
	background: #fff;
	-webkit-transition: all 0.5s ease 0s;
	   -moz-transition: all 0.5s ease 0s;
	    -ms-transition: all 0.5s ease 0s;
	     -o-transition: all 0.5s ease 0s;
	        transition: all 0.5s ease 0s;
}


.questionnaire-holder .questioning-custom .questions-form .questionnaire .question .answer {
	width: 400px;
	font-size: 1.8rem;
	line-height: 4.6rem;

	font-weight: normal;
	color: #1F1F1F;
	text-align: center;
	border: 1px solid #b8b8b8;
	background: #fff;
	-webkit-transition: all 0.5s ease 0s;
	   -moz-transition: all 0.5s ease 0s;
	    -ms-transition: all 0.5s ease 0s;
	     -o-transition: all 0.5s ease 0s;
	        transition: all 0.5s ease 0s;
}

.submit-questionnarie input:hover,
.submit-questionnarie.clicked input,
.questionnaire-holder .comming-intention .comming-intention-option:hover,
.questionnaire-holder .comming-intention .comming-intention-option.checked,
.questionnaire-holder .questioning-custom .questions-form .questionnaire .question .answer:hover,
.questionnaire-holder .questioning-custom .questions-form .questionnaire .question .answer.checked {
	border: 0px;
	background: rgba(246,160,102,1);
	background: -webkit-linear-gradient(-45deg, rgba(141,168,132,1) 0%, rgba(56,87,35,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6a066', endColorstr='#fe536f', GradientType=1 );
	color: #fff;
}

.submit-questionnarie.clicked input:disabled {
	/* background: -webkit-linear-gradient(-45deg, rgb(233, 233, 233) 0%, rgb(109, 98, 98) 100%); */
	background: #999;
	/* color:#566e4e; */
}

.questionnaire-holder .comming-intention .comming-intention-option label {
	margin-bottom: 0;
	width: 100%;
}


.questioning-custom {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin: 50px auto;
}

.questioning-custom .info {
	font-size: 2rem;
	text-align: center;
}

.questions-form {
	display: flex;
	flex-direction: column;
	padding-left: 1rem;
}

.questionnaire {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	gap: 1rem;
}

.questionnaire .question {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.question.name {
	color: #db3b5d;
	margin: 10px auto;
	font-size: 20px;
	height: 50px;
}

.question .name {
	font-size: 2rem;
	text-align: center;
}

@media (min-width: 700px) {
	.questioning-custom {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		margin: 50px auto;
	}
	
	.questioning-custom .info {
		margin: 10px auto;
	}
	
	.questionnaire {
		display: grid;
		flex-wrap: wrap;
		grid-template-columns: 2fr 1.5fr;
		grid-template-rows: 1fr 1fr;
		justify-content: center;
		gap: 10px 30px
	}
	
	.questionnaire .question {
		display: flex;
		flex-direction: column;
	}
	
	.question.name {
		color: #db3b5d;
		margin: 10px auto;
	}
	
	.question.salad {
		grid-row: 1;
		grid-column: 1;
	}
	
	.question.main-dish {
		grid-row: 1;
		grid-column: 2;
	}
	
	.question.wine-color {
		grid-row: 2;
		grid-column: 1;
	}
	
	.question.wine-taste {
		grid-row: 2;
		grid-column: 2;
	}
	
	.questionnaire .name {
		font-size: 20px;
		height: 50px;
	}
	
	.questions-form {
		display: flex;
		flex-direction: column;
		padding-left: 1rem;
	}
	
	.questionnaire-holder .questions-form .name input {
		width: 100px;
		padding-left: 10px;
		border: none;
		border-bottom: 1px dashed #333;
		background-color: transparent;
	}
	
	.questionnaire-holder .questioning-custom .questions-form .questionnaire .question .answer label:before {
		position: relative;
		display: inline-block;
		width: 1.8rem;
		height: 1.9rem;
		top: 0.5rem;
		margin-right: 0.5rem;
		content: "";
		background: url(../images/check.png) no-repeat 0 0;
	}
	.questionnaire-holder .questioning-custom .questions-form .questionnaire .question .answer label:hover:before,
	.questionnaire-holder .questioning-custom .questions-form .questionnaire .question .answer label.checked:before {
		background: url(../images/check.png) no-repeat -18px 0;
	}

	/* .questionnaire-holder .questioning-custom .questions-form .questionnaire .question .answer {
		width: 400px;
		font-size: 1.8rem;
		line-height: 4.6rem;
	} */

	.comming-intention-option {
		width: 30rem;
		margin: 0 0.5rem 0;
	}
	
}