

/* Start:/bitrix/templates/main/components/bitrix/menu/top_menu/style.min.css?1475415528490*/
ul.left-menu{list-style:none;margin:0;padding:0;margin-bottom:8px;position:relative}ul.left-menu li{padding:10px 16px;background:#f5f5f5 url(../images/left_menu_bg.gif) top repeat-x}ul.left-menu li a{font-size:100%;color:#bc262c;font-weight:bold;text-decoration:none}ul.left-menu li a:visited{color:#bc262c}ul.left-menu li a:hover{color:#bc262c}ul.left-menu li a.selected:link,ul.left-menu li a.selected:visited,ul.left-menu li a.selected:active,ul.left-menu li a.selected:hover{color:#fc8d3d}
/* End */


/* Start:/bitrix/templates/main/components/bitrix/breadcrumb/main_breadcrumbs_new/style.css?1483451529170*/
.bread{
	margin-bottom: 0px;
}
.bread li{
	display: inline;
}
.bread li a{
	color: #333;
}
.bread li a:hover{
	text-decoration: underline!important;
    color: #f2333a;
}
/* End */


/* Start:/bitrix/templates/main/styles.css?1481456667571*/
.quot{
	padding: 30px 50px;
    color: #000;
    font-family: lato-light-italik;
    *border-top: 1px solid #d5d5d5;
    *border-bottom: 1px solid #d5d5d5;
	font-size: 24px;
    line-height: 32px;
	position: relative;
}
.quot:before{
	content: '❝';
    position: absolute;
    font-size: 48px;
    top: 20px;
    color: rgb(242, 51, 58);
    left: 12px;
    font-family: lato-light-italik;
}
.quot:after{
	content: '❞';
    position: absolute;
    font-size: 48px;
    bottom: -10px;
    color: rgb(242, 51, 58);
    right: 12px;
    font-family: lato-light-italik;
}
/* End */


/* Start:/bitrix/templates/main/template_styles.css?14814741622473*/
.responsive{
	width:100%;
}
.in-li{
	*color:#000;
	text-decoration: none;
}
.b-row{
    
}
.t-r{
    text-align:right;
}
.t-l{
    text-align:left;
}
.t-c{
    text-align:center;
}
.block-1{
    margin-bottom:60px;
}
.text-block{
   margin-bottom: 30px;
   padding-top: 10px;
    height: 262.5px;
}
.text-block h2{
    margin-top: 0px;
}
.wr{
	position:relative;
}
.wr .text{
    padding: 20px 15px 15px 15px;
	position: absolute;
    top: 0;
}
.wr .text h2, .wr .text p{
    color:#fff;
}
.love{
    background:url('../images/image2.jpg');
    background-repeat:no-repeat;
    height: 262.5px;
    background-size: contain;
}
.personal-invite{
    margin-bottom: 30px;
    *background:url('../images/image4.png');
    background-repeat:no-repeat;
    /*height: 327.5px;
    background-size: contain;*/
    height: 262.5px;
    background-size: cover;
    background-position-y: -15px;
}
.block-2 h2, .block-2 p{
    color:#fff;
}
.block-2 .m-b-r{
    margin-bottom:30px;
}

.block-2 .video-block{
    background:url('../images/image5-2.jpg');
    background-repeat:no-repeat;
    height: 262.5px;
    background-size: cover;
    padding:15px;
}
.block-2 .insta-block{
    height: 262.5px;
}
.block-2 .insta-block h2{
    margin-top:0px;
}
.block-2 .insta-block h2, .block-2 .insta-block p{
    color:#333;
}
.block-2 .insta-block-img{
    height: 262.5px;
    background:url('../images/image10.png');
    background-size: cover;
    background-repeat:no-repeat;
}
.block-2 .gallery-block{
    height: 262.5px;
    background:url('../images/image7-1.png');
    background-size: contain;
    background-repeat:no-repeat;
    padding:15px;
}
.block-2 .map-block{
    height: 262.5px;
}
.block-2 .map-block h2, .block-2 .map-block p{
    color:#333;
}
.block-2 .map-image-block{
    height: 262.5px;
    background:url('../images/image9.png');
    background-size: cover;
    background-repeat:no-repeat;
}
.block-2 .guestbook-block{
    height: 262.5px;
    background:url('../images/image8-1.jpg');
    background-size: contain;
    background-repeat:no-repeat;
    padding:15px;
}
.form-callback{
   *height: 240px;
    margin-bottom: 120px;
}
.form-callback h2{
    margin-top: 0;
}
.form-callback .fileds{
    width:100%;
    padding: 7px 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #b9b9b9;
    margin-bottom:20px;
}
.form-callback textarea{
    height: 93px;
    border-radius: 4px;
}
.g-wrap{
    height: 78px;
}
.g-recaptcha{
	position: relative;
    margin-top: 10px;
    margin-left: -15px;
}
/* End */
/* /bitrix/templates/main/components/bitrix/menu/top_menu/style.min.css?1475415528490 */
/* /bitrix/templates/main/components/bitrix/breadcrumb/main_breadcrumbs_new/style.css?1483451529170 */
/* /bitrix/templates/main/styles.css?1481456667571 */
/* /bitrix/templates/main/template_styles.css?14814741622473 */
